---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-lg mx-auto mt-20 flex justify-center">
    <img src="/nelson.webp" alt="nelson ja ja" class="animate-bounce" />
  </div>
</Layout>
